{% extends "base.html" %}

{% block content %}

    <div class="container">

        {% include "nav.html" %}

            <div class="row mt-4">
                <h3>Lista de Contatos</h3>
                
                <form action="" method="get" class="row">
                    <div class="col-9">
                        <input type="text" name="pesquisa" class="form-control" placeholder="Pesquisar Contato">
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">Pesquisar</button>
                    </div>
                </form>
                <div class="col-12">
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Assunto</th>
                                <th>Respondido</th>
                                <th>Acessar Pessoa</th>
                            </tr>
                        </thead>
                        <body>
                            {% for linha in context.dados %}
                                <tr>
                                    <td>{{ linha.nome }}</td>
                                    <td>{{ linha.email }}</td>
                                    <td>{{ linha.assunto }}</td>
                                    <td>
                                        {% if linha.respondido == 1 %}
                                            SIM
                                        {% else %}
                                            NÃO
                                        {% endif%}
                                    </td>
                                    <td>
                                        <a href="{{url_for('contatoDetalhes', id = linha.id)}}" id="abrirPerfil">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="black" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-icon lucide-send">
                                                <path d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"/>
                                                <path d="m21.854 2.147-10.94 10.939"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </body>
                    </table>
                </div>
            </div>
       </div>
       
{% endblock %}