{% extends "base.html" %}

{% block content %}
    <header>
        <div class="container-header">
            <div class="logo">
                <h1>Contatos - Flask</h1>
            </div>
            
            <div class="botoesLinks">
                <a href="{{url_for('homepage')}}" class="link">Home</a>
                <a href="{{url_for('contato_cadastro')}}" class="link">Cadastrar Contato</a>
                <a href="{{url_for('contatoLista')}}" style="text-align: center;" class="link">Lista de Contatos</a>
            </div>
        </div>
    </header>

{% endblock %}