{% extends "base.html" %}

{% block content %}
    <header>
        <h3>Projeto Flask</h3>
    </header>
    
    <div class="parteEscrita">
        <h5>@senaisc</h5>
        <p>Bem vindos a aula de Flask!</p>
        <br>
        <h5>Bem vindo, {{dicionario.nome}}</h5>
        <p>Sua idade: {{dicionario.idade}}</p>
        <h5>Meus interesses: </h5>
        <ul>
            {% for interesse in dicionario.interesses %}
            <li>{{ interesse }}</li>
            {% endfor %}
        </ul>
        <br>
        <a href="{{url_for('contato_cadastro')}}">Acessar Página Contato</a>
        <a href="{{url_for('contatoLista')}}" style="text-align: center;">Acessar Página de Lista de Contatos</a>
    </div>
{% endblock %}