{% extends 'base.html' %}

{%include 'header.html' %}
{% block content %}
    <div class="container">
            <div class="row mt-4">
                <h3>Lista de Posts</h3>

                    <div class="container-posts">
                        {% for linha in posts %}
                        <div class="post">
                            <div class="user">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3674B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-user-icon lucide-circle-user"><circle cx="12" cy="12" r="10"/><circle cx="12" cy="10" r="3"/><path d="M7 20.662V19a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1.662"/></svg>
                                <p id="usuario">{{linha.autor.nome}}</p>
                            </div>
                            <div class="mensagemmm">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#3674B5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-text-icon lucide-message-square-text"><path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"/><path d="M7 11h10"/><path d="M7 15h6"/><path d="M7 7h8"/></svg>
                                <p>{{linha.mensagem }}</p>
                            </div>
                            <div class="link">
                                <a href="{{url_for('PostComentarios', id=linha.id)}}">Acessar Post</a>
                            </div>
                        </div>
                        {% endfor %}
                </div>
            </div>
    </div>
{% endblock %}