<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h3>Projeto Flask</h3>
    </header>

    <div class="parteEscrita">
        <h5>Aba de Sobre</h5>
        <p>Bem vindos a aba de sobre da aula de Flask!</p>
        <a href="{{url_for('homepage')}}">Voltar a página inicial</a>
    </div>
</body>
</html>